img {
    max-width: 300px;
    max-height: 400px;
}

body {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5;
}

.description {
    background-color: rgb(167, 62, 219);
}

.reasons {
    background-color: rgb(187, 105, 228);
}

.list-1 {
    color: rgb(215, 89, 89);
}

h1 {
    background-color: darkorchid;
}
